  <div class="card" style="width: 18rem;">
    <img src="{{beer.image_url}}" class="card-img-top" alt="..." width="50" height="850">
    <div class="card-body">
    <h5 class="card-title">{{beer.Image}}</h5>
    <p class="card-text">{{beer.description}}</p>
    <a href="#" class="btn btn-primary">Este boton no hace nada</a>
  </div>