<div>
<h1>Pagina principal</h1>

</div>
<div><img src="/images/beer.png" alt="Beer Image" width="300" height="400"></div>
<a href="/beers" class="btn btn-primary">Check the beers</button></div>
<a href="/random-beers" class="btn btn-primary">Check a random beer!</href></a>
